.bar {
  $icon-size: 2rem;

  @include bg($background);
  @include m(6, x);

  & .container {
    @include bg($background);
  }

  &,
  & .container {
    @include rounded(md);
  }

  & .seperator {
    @include m(2, y);
    @include border($primary, 1, l);
  }
  &-workspaces {
    & .button:first-child {
      @include rounded(md, l);
    }
    & .button:last-child {
      @include rounded(md, r);
    }
  }

  &-windows {
    & .button.focused {
      @include border($primary, 2, b);
      @include text($primary);
    }
  }

  &-media {
    $slider-height: 2px;

    scale {
      &,
      & trough,
      & trough highlight {
        min-height: $slider-height;
      }

      & trough {
        @include bg($disabled);

        & highlight {
          @include transition(colors);
          @include bg($primary);
        }
      }

      &.paused trough highlight {
        @include bg($secondary);
      }
    }

    & .icon {
      @include font($nerd-font, calc(2rem - #{$slider-height}));
    }

    & .label {
      @include m(2, x);
    }

    & .time {
      @include m(2, x);
      @include text($foreground);
      @include font($normal-font, 0.8rem);
    }
  }

  &-torrents {
    $slider-height: 2px;

    progressbar {
      $slider-height: 2px;

      &,
      & trough,
      & trough progress {
        min-height: $slider-height;
      }

      & trough {
        @include bg($disabled);

        & progress {
          @include bg($primary);
        }

        &.full progress {
          @include bg($success);
        }
      }

      &.paused trough progress {
        @include bg($warning);
      }
    }

    & .icon {
      @include font($nerd-font, calc(2rem - #{$slider-height}));
    }
  }

  &-time {
    @include rounded(md, r);

    & .label {
      @include m(1, r);
      @include font($mono-font, 1.3rem, bold);
    }
  }
}
