.bar {
  $icon-size: 2rem;

  @include bg(transparent);
  padding: 0 25px;

  &-container {
    @extend .rounded-b-md;
    @include bg($background);
  }

  &-time {
    @extend .py-1;
    @extend .px-2;
    @include font($mono-font, 1.5rem, bold);
  }

  &-media {
    $slider-height: 3px;

    &__slider {
      @extend .mx-1;
      @extend .rounded-b-md;

      min-height: $slider-height;

      & trough {
        @extend .bar-media__slider;
        @extend .mt-0;
        @include bg($gray);

        & highlight {
          @extend .rounded-b-full;
          @include bg($primary);
        }
      }

      &--paused {
        @extend .bar-media__slider;

        & trough {
          @extend .bar-media__slider;
          @extend .m-0;

          & highlight {
            @extend .rounded-b-full;
            @include bg($secondary);
          }
        }
      }
    }

    &__time {
      @extend .label;
      @extend .mx-2;
      @include font($normal-font, 0.8rem);
    }
  }

  &-icon {
    @include icon($icon-size);

    @each $colorKey, $color in $colors {
      &-#{$colorKey} {
        @include icon($icon-size);
        @include text($color);
      }
    }
  }

  &-icon-variable {
    @include icon-variable($icon-size);

    @each $colorKey, $color in $colors {
      &-#{$colorKey} {
        @include icon-variable($icon-size);
        @include text($color);
      }
    }
  }

  &-button {
    @include button;
    @extend .rounded-b-md;

    @each $colorKey, $color in $colors {
      &-#{$colorKey} {
        @include button($color);
        @extend .rounded-b-md;
      }
    }
  }
}
