.eww_bar {
  background-color: $black;
  padding: 0 0.5rem;
}

.media {
  $slider-height: 3px;

  &__icon {
    @extend .icon;
    font-size: calc(#{$icon-size} - #{$slider-height});
  }

  &__slider {
    $radius: 50px;

    margin: 0 0.5rem;
    min-height: $slider-height;
    border-radius: 0 0 $radius $radius;

    & trough {
      @extend .media__slider;
      margin: 0;
      background-color: $disabled;

      & highlight {
        border-radius: 0 0 0 $radius;
        background-color: $primary;
      }
    }

    &--disabled {
      @extend .media__slider;

      & trough {
        @extend .media__slider;
        margin: 0;

        & highlight {
          border-radius: 0 0 0 $radius;
          background-color: $secondary;
        }
      }
    }
  }

  &__time {
    @extend .label;
    margin: 0 0.5rem;
    font-size: 0.8rem;
    color: $foreground;
  }
}

.time {
  @extend .mono-label;
  padding: 0.3rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}
