#![enable(implicit_some)]
(
    workspaces: [],
    tags: ["", "", "", "", "", "", ""],
    layouts: [
        MainAndVertStack,
        CenterMain,
    ],
    layout_mode: Tag,
    insert_behavior: Bottom,
    scratchpad: [],
    disable_current_tag_swap: true,
    disable_tile_drag: true,
    disable_window_snap: true,
    focus_behaviour: Sloppy,
    focus_new_windows: true,
    sloppy_mouse_follows_focus: true,
    window_rules: [
        (window_class: "Brave-browser", spawn_on_tag: 1),
        (window_class: "Firefox", spawn_on_tag: 1),
        (window_class: "Discord", spawn_on_tag: 3),
        (window_class: "DesktopEditors", spawn_on_tag: 4),
        (window_class: "Thunar", spawn_on_tag: 4),
        (window_class: "Lutris", spawn_on_tag: 5),
        (window_class: "Steam", spawn_on_tag: 5),
        (window_class: "Gimp-2.10", spawn_on_tag: 6),
        (window_class: "kdenlive", spawn_on_tag: 6),
        (window_class: "Virt-manager", spawn_on_tag: 7),
        (window_class: "gnome-calculator", spawn_floating: true),
        (window_class: "cava", spawn_fullscreen: true),
    ],
    modkey: "Mod4",
    mousekey: "Mod4",
    keybind: [
        (command: SoftReload, value: "", modifier: ["Mod4", "Shift"], key: "r"),
        (command: CloseWindow, value: "", modifier: ["Mod4"], key: "q"),
        (command: ToggleFloating, value: "", modifier: ["Mod4"], key: "c"),
        (command: ToggleFullScreen, value: "", modifier: ["Mod4"], key: "f"),
        (command: NextLayout, value: "", modifier: ["Mod4"], key: "space"),
        (command: SwapTags, value: "", modifier: ["Mod4"], key: "Tab"),
        (command: IncreaseMainWidth, value: "5", modifier: ["Mod4"], key: "Right"),
        (command: DecreaseMainWidth, value: "5", modifier: ["Mod4"], key: "Left"),
        (command: FocusWorkspaceNext, value: "", modifier: ["Mod4", "Control"], key: "l"),
        (command: FocusWorkspacePrevious, value: "", modifier: ["Mod4", "Control"], key: "h"),
        (command: FocusNextTag, value: "", modifier: ["Mod4"], key: "l"),
        (command: FocusPreviousTag, value: "", modifier: ["Mod4"], key: "h"),
        (command: FocusWindowUp, value: "", modifier: ["Mod4"], key: "k"),
        (command: FocusWindowDown, value: "", modifier: ["Mod4"], key: "j"),
        (command: FocusWindowUp, value: "", modifier: ["Mod1", "Shift"], key: "Tab"),
        (command: FocusWindowDown, value: "", modifier: ["Mod1"], key: "Tab"),
        (command: GotoTag, value: "1", modifier: ["Mod4"], key: "ampersand"),
        (command: GotoTag, value: "2", modifier: ["Mod4"], key: "eacute"),
        (command: GotoTag, value: "3", modifier: ["Mod4"], key: "quotedbl"),
        (command: GotoTag, value: "4", modifier: ["Mod4"], key: "apostrophe"),
        (command: GotoTag, value: "5", modifier: ["Mod4"], key: "parenleft"),
        (command: GotoTag, value: "6", modifier: ["Mod4"], key: "minus"),
        (command: GotoTag, value: "7", modifier: ["Mod4"], key: "egrave"),
        (command: MoveWindowToNextWorkspace, value: "", modifier: ["Mod4", "Shift", "Control"], key: "l"),
        (command: MoveWindowToPreviousWorkspace, value: "", modifier: ["Mod4", "Shift", "Control"], key: "h"),
        (command: MoveWindowUp, value: "", modifier: ["Mod4", "Shift"], key: "k"),
        (command: MoveWindowDown, value: "", modifier: ["Mod4", "Shift"], key: "j"),
        (command: MoveToTag, value: "1", modifier: ["Mod4", "Shift"], key: "ampersand"),
        (command: MoveToTag, value: "2", modifier: ["Mod4", "Shift"], key: "eacute"),
        (command: MoveToTag, value: "3", modifier: ["Mod4", "Shift"], key: "quotedbl"),
        (command: MoveToTag, value: "4", modifier: ["Mod4", "Shift"], key: "apostrophe"),
        (command: MoveToTag, value: "5", modifier: ["Mod4", "Shift"], key: "parenleft"),
        (command: MoveToTag, value: "6", modifier: ["Mod4", "Shift"], key: "minus"),
        (command: MoveToTag, value: "7", modifier: ["Mod4", "Shift"], key: "egrave"),
    ],
    state_path: None,
)
