.osd {
  &__container {
    @extend .container;
    background-color: $black;
    padding: 10px;
  }
  &__icon {
    @extend .icon;
    font-family: $variable-nerd-font;
    font-size: 10rem;
  }

  &__slider {
    @extend .rounded;
    margin: 5px;
    background-color: $disabled;
    min-height: 15px;

    & trough {
      @extend .osd__slider;
      margin: 0;

      & highlight {
        @extend .rounded;
        background-color: $primary;
      }
    }
  }
}
