.backdrop.dark {
    @include bg($bg);
    opacity: 0.8;
}

.window {
    @mixin window() {
        @include rounded(md, b);
        @include bg($bg);
        @include p(4);
        @include text($fg);
        min-width: 30rem;
    }

    @mixin title() {
        @include m(4, b);
        @include font(1.6rem, bold);
    }

    .applications {
        entry {
            @include m(8, b);
            @include rounded;
            @include bg($card);
            @include p(8, x);
            @include p(4, y);
            min-width: 30rem;
        }
        button {
            @include button;
            @include rounded;
            @include p(4, x);
            @include p(12, y);
        }
    }

    .power-profiles {
        @include window;

        .title {
            @include title;
        }

        button {
            @include button;
            @include m(2);
            @include rounded;
            @include p(2);

            image {
                @include m(2, b);
                @include font(4rem);
            }
        }
    }

    .power {
        @include window;

        button {
            @include button;
            @include m(2);
            @include rounded;
            @include p(2);

            image {
                @include font(8rem);
            }
        }
    }

    .torrents {
        @include window;

        .title {
            @include title;
            @include m(2, b);
        }

        button {
            @include button;
            @include rounded;
            @include p(2);

            image {
                @include font(1.4rem);
            }
        }

        .torrent {
            @include m(2, t);
            @include rounded;
            @include bg($card);
            @include p(3, x);
            @include p(3, y);

            .name {
                @include m(2, b);
                @include font(1.1rem, bold);
            }

            .details {
                @include m(1, b);
            }

            .progress {
                @include m(1, t);
                @include font(0.7rem);

                image {
                    @include m(1, r);
                }

                label {
                    @include m(2, r);
                }
            }

            levelbar {
                @include m(3, y);

                & trough,
                & trough block {
                    @include rounded(full);

                    min-height: 1rem;
                }

                & trough {
                    @include bg($muted);

                    & block.filled {
                        @include bg($primary);
                    }
                }

                &.paused trough block.filled {
                    @include bg($warning);
                }

                &.finished block.filled {
                    @include bg($success);
                }
            }

            .actions {
                @include m(2, l);
            }
        }
    }

    .updates {
        @include window;

        .title {
            @include title;
        }

        button {
            @include button;
            @include rounded;
            @include p(2);
        }

        .update {
            label.new {
                @include text($success);
            }

            image {
                @include m(2, x);
                @include font(0.8rem);
            }
        }
    }
}
