* {
  background-image: none;
}
window {
  background-color: rgba(28, 31, 36, 0.9);
  font-size: 14pt;
}
button {
  margin: 2rem;
  background-color: #222436;
  border-width: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  color: #c8d3f5;
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:focus,
button:active {
  background-color: #82aaff;
  outline-style: none;
}

#lock {
  background-image: image(url("./icons/lock.svg"));
}
#lock:active,
#lock:focus {
  background-image: image(url("./icons/lock-focus.svg"));
}

#logout {
  background-image: image(url("./icons/logout.svg"));
}
#logout:active,
#logout:focus {
  background-image: image(url("./icons/logout-focus.svg"));
}

#reboot {
  background-image: image(url("./icons/reboot.svg"));
}
#reboot:active,
#reboot:focus {
  background-image: image(url("./icons/reboot-focus.svg"));
}

#shutdown {
  background-image: image(url("./icons/shutdown.svg"));
}
#shutdown:active,
#shutdown:focus {
  background-image: image(url("./icons/shutdown-focus.svg"));
}
